{% extends 'base.html' %}
{% block content %}

<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        key: "{{razorpay_key}}",
        amount: "{{grand_total}}", 
        currency: "INR",
        name: "{{order.full_name}}",
        description: "Test Transaction",
        image: "https://imgur.com/NOWiBu9",
        order_id: "{{data.order_number}}",
        callback_url: "{{callback_url}}",
        redirect: true,
        current_user = "{{current_user}}"
        prefill: {
            "name": "{{order.full_name}}",
            "email": "{{order.email}}",
            "contact": "{{order.phone}}"
        },
        notes: {
            "address": "Razorpay Corporate Office"
        },
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>



{% endblock %}